<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <title>Intro</title>
</head>
<body>
    <div class="list-item">List-item</div>
    <div class="list-item list-item-transparent">CSS</div>
    <div class="list-item list-item-pattern">List-item</div>
    <div class="list-item list-item-image">List-item</div>
    <div class="list-item list-item-parallax">List-item</div>
    <div class="list-item">List-item</div>
    <div class="list-item">List-item</div>
    <div class="list-item">List-item</div>
    <div class="list-item">List-item</div>
    <div class="list-item">List-item</div>
</body>
</html>