<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../style/shirt.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Ưu đãi thành viên</title>
</head>
<body>
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="#">
            <img src="../img/logo1.png" class="logo-pic" alt="" />
          </a>
          <p class="no-link1">
            <a href="#" class="no-link">Shop for men </a>
          </p>
        </div>
        <ul class="nav nav-pills justify-content-end right">
          <li class="nav-item">
            <a class="nav-link home text-black" aria-current="page" href="#"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sản Phẩm</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Áo</a></li>
              <li><a class="dropdown-item" href="#">Quần</a></li>
              <li><a class="dropdown-item" href="#">Suit</a></li>
              <li><a class="dropdown-item" href="#">Phụ Kiện</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black">Giỏ Hàng</a>
          </li>
        </ul>
      </div>
      <div class="name">
        <div class="title">
          <div style="text-align: center; font-family: sans-serif; font-size: 55px; font-weight: bold; color: black; border-bottom: 1px dashed grey;">
            ƯU ĐÃI THÀNH VIÊN
          </div>
        </div>
      </div>
      <div class="sub-banner">
        <div class="text"> </div>
      </div>
      <div class="container">
        <div class="cited">
          <p class="cited1" style="text-align: center;">
            <span style="font-family: 'Bitter'; font-size: 14pt; font-weight: normal; vertical-align: baseline;">
              <em>"</em>
            </span>
            <span style="color:black; font-family: 'Bitter'; font-size: 20pt; font-weight: normal; vertical-align: baseline;">
              <em>
                Rymo luôn dành trọn tâm huyết để làm ra các sản phẩm của mình, không chỉ là sự đơn giản ở thiết kế bên ngoài giúp cho người dùng đỡ mất thời gian suy nghĩ đến việc lựa chọn quần áo phù hợp, mà thiết kế bên trong của mỗi sản phẩm đều được chăm chút, tinh gọn nhằm tạo ra sự tiện lợi và sang trọng cho người sử dụng. Chính vì điều này Rymo luôn được đón nhận sự tin tưởng và yêu mến của khách hàng – những người đàn ông lịch lãm và cả những quý cô, quý bà muốn chăm chút cho diện mạo của người bạn đời của mình. 
  "
              </em>
          </p>
          <img src="https://shopeeplus.com/upload/editor/images/Screenshot%20(442).png" alt="" style="width: 80%; margin-left: 140px;">
        </div>
      </div>
      
      <div class="cot1">
        <h3 style="text-decoration:underline;">*Cách thức hoạt động </h3>
        <p style="font-size: 20px;">
          <br> - Bạn sẽ được tự động cập nhật chi tiêu tích lũy khách hàng thân thiết ngay khi mua sản phẩm bất kỳ từ shop.
          <br>- Shop quản lý chi tiêu tích lũy của bạn theo số điện thoại đặt hàng, thẻ Membership và Voucher sẽ được phát hành và gửi đến tận tay bạn hoàn toàn miễn phí khi bạn đủ điều kiện sở hữu.
          <br>- Khách hàng mua hàng tại cửa hàng xuất trình thẻ hoặc chỉ cần đọc số điện thoại là có thể tích luỹ điểm.
          <br>- Khách hàng mua hàng online trên Website/Facebook/Instagram đều được tích luỹ điểm tự động để thăng hạng giống như mua tại cửa hàng.
          <br>- Khách hàng mua hàng online trên website chỉ cần nhập số điện thoại mua hàng của mình vào ô 'Code' tại Trang thanh toán là có thể nhận được Quyền lợi đúng của hạng thẻ mình đang sở hữu. (Trong trường hợp khách hàng chưa trở thành thành viên của Membership Program, các bạn đặt đơn hàng không cần nhập số điện thoại vào ô 'Code' chúng mình sẽ tự động cập nhật tích luỹ).
        </p>      
      </div>
  
      <div class="line"></div>
      <div style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
        <div style="padding-right: 1.25%; padding-left: 1.25%;">
          <div style="padding: 8px;">
            <p style="text-align: center;">
              <span style="font-family: 'oswald'; font-weight: bold; vertical-align: baseline; font-size: 30px;">
                ĐÁNH GIÁ CỦA KHÁCH HÀNG
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="chart-table">
        <div class="table" style="text-align: center; width: 100%;height: 300px; font-size: 30px">
          <div style="padding-right: 1.25%; padding-left: 1.25%;">
            <div style="padding: 8px;">
              <table class="table table-bordered" style=' border: 1px solid black'>
                <thead>
                  <tr>
                    <th ></th>
                    <th>Rất tốt</th>
                    <th>Tốt</th>
                    <th>Bình thường</th>
                    <th>Kém</th>
                  </tr>
                </thead>
                <tbody>
                    <td>Về chất lượng sản phẩm</td> <td>1900</td> <td>869</td> <td>12</td> <td>0</td>
                  </tr>
                  <tr>
                    <td>Về chất lượng dịch vụ</td> <td>2021</td> <td>662</td> <td>25</td> <td>0</td>
                  </tr>
                  <tr>
                    <td>Về ưu đãi</td> <td>654</td> <td>125</td> <td>10</td> <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
          
      <div class="chart" >
        <canvas id="myChart" width="400" height="200"></canvas>
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["Rất tốt","Tốt","Bình thường", "Kém"],
                  datasets: [
                  {
                    label: 'Về chất lượng sản phẩm',
                    backgroundColor: "blue",
                    data: [1900, 869,12,0],
                  },
                  {
                    label: 'Về chất lượng dịch vụ',
                    backgroundColor: "orange",
                    data: [2021,662,25,0],
                  },
                  {
                    label: 'Về ưu đãi',
                    backgroundColor: "gray",
                    data: [654,125,10,0],
                  }, 
                ]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
        </script>
      </div>
    </div>
    <div style="background-image: url(../img/bg1.jpg); background-size: cover; display: flex; justify-content: center;">
      <div>
        <h1>
          FEEDBACK NỔI BẬT CỦA KHÁCH HÀNG
        </h1>
        <ul style=" font-size: 20px">
          <li>Mrs. A : " Sản phẩm của Rymo rất đẹp và sang trọng! Shop phục vụ rất tốt"
          </li>
          <li>Mr. R : " Shop phục vụ rất chu đáo, sản phẩm tốt, mặc lên rất đẹp! Luôn tin tưởng và ủng hộ Rymo'"
          </li>
          <li>Mr. E : " Mình luôn mua đồ tại Rymo, shop rất nhiệt tình và chu đáo. Sinh nhật còn được shop nhắn tin chúc mừng và tặng voucher mua hàng! Luôn ủng hộ Rymo"
          </li>
        </ul>
      </div>      
    </div>
    <h2 style="color: #ffffff ; font-style: italic; text-align: center; background-image: url(../img/bespoke-tailor-banner.jpg); background-size: cover;">
      <p style="padding:40px 0;">
        Cảm ơn tình cảm của các bạn giúp chúng tôi nỗ lực đổi mới và kiến tạo mỗi ngày, để mang lại sản phẩm tuyệt vời tạo hình ảnh cá nhân riêng bạn!
      </p>
    </h2>
    <div class="footer">
      <div class="nhom" style="padding-left: 56px;">
        Bài tập lớn nhóm 16
      </div>
      <div class="thanhvien" style="padding-left: 56px;">
        Thành viên nhóm: Vũ Đức Long-Hoàng Công Minh-Bùi Thị Minh
      </div>
    </div>
</body>
</html>