<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/shirt.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Pant</title>
  </head>
    <body> 
    <div class="container">
      <div class="header">
        <div class="logo">
          <a href="#">
            <img src="../img/logo1.png" class="logo-pic" alt="" />
          </a>
          <p class="no-link1">
            <a href="home.html" class="no-link">Shop for men </a>
          </p>
        </div>
        <ul class="nav nav-pills justify-content-end right">
          <li class="nav-item">
            <a class="nav-link home text-black" aria-current="page" href="home.html"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-black"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              >Sản Phẩm</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="shirt.html">Áo</a></li>
              <li><a class="dropdown-item" href="pant.html">Quần</a></li>
              <li><a class="dropdown-item" href="Suit.html">Suit</a></li>
              <li><a class="dropdown-item" href="phukien.html">Phụ Kiện</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="membership.html">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black">Giỏ Hàng</a>
          </li>
        </ul>
      </div>
      
      <div class="name">
        <div class="title">
          <div
            style="text-align: center; font-family: sans-serif; font-size: 55px; font-weight: bold; border-bottom: 1px dashed grey"
          >
            PANT
          </div>
        </div>
      </div>
      <div class="banner-img"></div>
      <div class="row" style="margin-left: 1px;">
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://bizweb.dktcdn.net/100/042/968/products/c5e0f2f7577baa25f36a.jpg?v=1612766655593"/>
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần short trơn đi biển
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                300.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://doboinam.vn/upload/product/dbn-009/quan-short-nam-di-bien-kho-nhanh.jpg" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần short họa tiết di biển
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                350.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://lh3.googleusercontent.com/ae4wjEDDq8CndWW26Trjs1-w0Bdlp-Pxh2KYZHITR7dM0lhjybTQiorcqjcOe-hiXoPY=s85 " />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần short trẻ trung
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                450.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://lh3.googleusercontent.com/B7KdnoLIVKuNJgMMcAkoghkNg79H6SUlSklt1QA5FEBjhAqAyyBMYxVk70l5VeRSs8kJaA=s85" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần đũi thoải mái
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                600.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div style="margin-top: 40px;"></div>
      <div class="row" style="margin-left: 1px;">
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://lh3.googleusercontent.com/HDxkawJIJCdGpZs3SS3NddZtymHjvOINQJ9VswaIJ1WseJfNg_69_lbcQgXalagxl2Ai2A=s85" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần jeans đen
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                750.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://lh3.googleusercontent.com/EjtSQcR7syD8CQfmAPAegELGgJSBoiad4BfJh85M5g_jF8QR-PmJ6SNBAxDo2Y9GqIoWow=s85" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần tây trẻ trung
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                750.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://lh3.googleusercontent.com/HrLUPo4mqxR8vH5qnjLZiylaAmSs8yBpl1s-mBM_NHiU1FjF04p6eRYFMrSWGlE0y-gX=s85" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần tây trẻ trung
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                750.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card" style="width: 16rem; border: none;">
            <img src="https://cf.shopee.vn/file/02fb439b04a6f9e55dd578734dfe2f3c" />
            <div class="card-body" style="margin:0%; padding: 0%;">
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px;margin-top: 15px;"
              >
                Quần âu cao cấp
              </p>
              <p
                class="card-text"
                style="text-align: center; font-family: sans-serif; font-size: 18px; font-weight: bold;"
              >
                1.500.000 đ
              </p>
              <div class="buy-button">
                <span id="buy-button">
                  Buy
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div style="margin-top: 40px;"></div>
      <div class="line"></div>
      <div style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
        <div style="padding-right: 1.25%; padding-left: 1.25%;">
          <div style="padding: 8px;">
            <p style="text-align: center;">
              <span
                style="font-family: 'sans-serif'; font-weight: bold; vertical-align: baseline; font-size: 30px;"
              >
                Bảng size quần
              </span>
            </p>
          </div>
        </div>
      </div>
      
      <div
        class="size-table"
        style="text-align: center; width: 80%; margin: 0 auto;"
      >
        <div style="padding-right: 1.25%; padding-left: 1.25%;">
          <div style="padding: 8px;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Eo</th>
                  <th scope="col">Mông</th>
                  <th scope="col">Ống</th>
                  <th scope="col">Dài</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>M</td> <td>74</td> <td>104</td> <td>46</td> <td>52</td>
                </tr>
                <tr>
                  <td>L</td> <td>80</td> <td>110</td> <td>48</td> <td>54</td>
                </tr>
                <tr>
                  <td>XL</td> <td>86</td> <td>116</td> <td>52</td> <td>56</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
<div id='Bảng'>
  <div class="line"></div>
  <div style="padding-top: 1.5rem; padding-bottom: 1.5rem; ">
    <div style="padding-right: 1.25%; padding-left: 1.25%;">
      <div style="padding: 8px;">
        <p style="text-align: center;">
          <span style="font-family: 'oswald'; font-weight: bold; vertical-align: baseline; font-size: 30px;">
            Số liệu quần bán ra năm 2020
          </span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="chart-table">
    <div class="table" style="text-align: center; width: 25%; float: left">
      <div style="padding-right: 1.25%; padding-left: 1.25%;">
        <div style="padding: 8px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Số lượng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tháng 1</td> <td>345</td>
              </tr>
              <tr>
                <td>Tháng 2</td> <td>124</td>
              </tr>
              <tr>
                <td>Tháng 3</td> <td>68</td>
              </tr>
              <tr>
                <td>Tháng 4</td> <td>56</td>
              </tr>
              <tr>
                <td>Tháng 5</td> <td>34</td>
              </tr>
              <tr>
                <td>Tháng 6</td> <td>21</td>
              </tr>
              <tr>
                <td>Tháng 7</td> <td>45</td>
              </tr>
              <tr>
                <td>Tháng 8</td> <td>12</td>
              </tr>
              <tr>
                <td>Tháng 9</td> <td>23</td>
              </tr>
              <tr>
                <td>Tháng 10</td> <td>64</td>
              </tr>
              <tr>
                <td>Tháng 11</td> <td>98</td>
              </tr>
              <tr>
                <td>Tháng 12</td> <td>256</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="chart" style="float: left; margin-left: 100px ">
      <canvas id="myChart" width="700 px" height="600 px"></canvas>
   <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
    
            labels: ["Tháng 1","Tháng 2","Tháng 3","Tháng 4","Tháng 5","Tháng 6","Tháng 7","Tháng 8","Tháng 9","Tháng 10","Tháng 11","Tháng 12"],
            datasets: [
              {
                label: "Quần",
                backgroundColor: "blue",
                data: [ 345, 124, 68, 56, 34, 21, 45, 12, 23, 64, 98, 256],
              }
            ]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            plugins: {
              title: {
                display: true,
                text: "Lượng quần bán ra năm 2020",
                font: {
                  size: 30
                }
              }
            }
          }
        });
      </script>
    </div>
  </div>
</div>
</div>
    
    <div class="footer" style=" clear: left">
      <div class="nhom" style="padding-left: 56px;">
        Bài tập lớn nhóm 16
      </div>
      <div class="thanhvien" style="padding-left: 56px;">
        Thành viên nhóm: Vũ Đức Long-Hoàng Công Minh-Bùi Thị Minh
      </div>
    </div>
  </body>
</html>